= form_for @race do |f|
  - if @race.errors.any?
    #error_explanation
      h2 = "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      ul
        - @race.errors.full_messages.each do |message|
          li = message

  .actions = f.submit
