h1 Listing races

table
  thead
    tr
      th
      th
      th

  tbody
    - @races.each do |race|
      tr
        td = link_to 'Show', race
        td = link_to 'Edit', edit_race_path(race)
        td = link_to 'Destroy', race, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Race', new_race_path
