= form_for @class do |f|
  - if @class.errors.any?
    #error_explanation
      h2 = "#{pluralize(@class.errors.count, "error")} prohibited this class from being saved:"
      ul
        - @class.errors.full_messages.each do |message|
          li = message

  .actions = f.submit
