h1 Listing classes

table
  thead
    tr
      th
      th
      th

  tbody
    - @classes.each do |class|
      tr
        td = link_to 'Show', class
        td = link_to 'Edit', edit_class_path(class)
        td = link_to 'Destroy', class, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Classe', new_class_path
